body {
  background-color: #000050;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
 
  text-decoration: blink;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  font-size: 4em;
  text-align: center;
}


.star {
  -webkit-box-shadow: 0px 0px 76px 12px rgba(224,224,0,1);
  -moz-box-shadow: 0px 0px 76px 12px rgba(224,224,0,1);
  box-shadow: 0px 0px 76px 12px rgba(224,224,0,1);
}

p {
  text-align: center;
  font-size: 14px;
 
}

footer {
	padding: 10px;
  color: white;
  border: 1px solid orange;
}


